.flex {
  display: flex;

  &-inline {
    display: inline-flex;
  }

  &--row {
    flex-direction: row;

    &-reverse {
      flex-direction: row-reverse;
    }
  }

  &--column {
    flex-direction: column;

    &-reverse {
      flex-direction: column-reverse;
    }
  }
// FIXME:  replace with flex--align-items-...//
  &--start {
    align-items: start;
  }

  &--center {
    align-items: center;
  }

  &--end {
    align-items: flex-end;
  }

  &--baseline {
    align-items: baseline;
  }

  &--stretch {
    align-items: stretch;
  }
////////////////////////////////////////////////
  &--content {
    &-start {
      justify-content: flex-start;
    }
    &-center {
      justify-content: center;
    }
    &-end {
      justify-content: flex-end;
    }
    &-space {
      &-around {
        justify-content: space-around;
      }
      &-evenly {
        justify-content: space-evenly;
      }
      &-between {
        justify-content: space-between;
      }
    }
  }

  &--self {
    &-start {
      align-self: flex-start;
    }
    &-center {
      align-self: center;
    }
    &-end {
      align-self: flex-end;
    }
    &-baseline {
      align-self: baseline;
    }
    &-stretch {
      align-self: stretch;
    }
  }

  &--space {
    &-around {
      justify-content: space-around;
    }
    &-between {
      justify-content: space-between;
    }
    &-evenly {
      justify-content: space-evenly;
    }
  }

  &--grow {
    &-0 {
      flex-grow: 0;
    }
    &-1 {
      flex-grow: 1;
    }
  }

  &--shrink {
    &-0 {
      flex-shrink: 0;
    }
    &-1 {
      flex-shrink: 1;
    }
  }

  &--align-items {
    &-start {
      align-items: start;
    }

    &-center {
      align-items: center;
    }

    &-end {
      align-items: flex-end;
    }

    &-baseline {
      align-items: baseline;
    }

    &-stretch {
      align-items: stretch;
    }
  }
}

.flex-wrap {
  &--start {
    align-content: flex-start;
  }

  &--end {
    align-content: flex-end;
  }

  &--center {
    align-content: center;
  }

  &--space {
    &-around {
      align-content: space-around;
    }
    &-between {
      align-content: space-between;
    }
    &-evenly {
      justify-content: space-evenly;
    }
  }

  &--stretch {
    align-content: stretch;
  }
}